.right_btns {
  position: absolute;
  bottom: 20px;
  right: 0;
  background-color: transparent;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0px 10px;
}

.btn_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.heart_liked,
.heart_unliked {
}

.text {
  color: white;
}

.desc_container_normal {
  position: absolute;
  left: 10px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 78vw;
  max-width: 600px;
}

.icon_creator_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.creator_name {
  font-size: 22px;
  font-weight: 700;
}
.title {
  font-size: 18px;
  font-weight: 500px;
  color: white;
}

.desc,
.desc_short {
  font-size: 16px;
  font-weight: 500px;
  color: white;
}

.liked_overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.liked_overlay_hidden {
  display: none;
}

.liked_heart {
  animation: heart_pop 1s ease;
}

.video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.slide-in-from-top {
  transform: translateY(-100%);
  opacity: 0;
  animation: slideDownIn 0.6s forwards;
}

.slide-in-from-bottom {
  transform: translateY(100%);
  opacity: 0;
  animation: slideUpIn 0.6s forwards;
}

.slide-out-to-top {
  animation: slideUpOut 0.6s forwards;
}

.slide-out-to-bottom {
  animation: slideDownOut 0.6s forwards;
}

.main_container {
  background-color: aqua;
}

@keyframes slideUpIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDownIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUpOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slideDownOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes heart_pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
